<div class="jumbotron">
    <h1>AstraFox</h1>
    <p class="lead">Rekrutacja AstraFox</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Zadanie 1</h2>
        <h3>Menu strony</h3>
        <p>Na stronie stwórz proste menu nawigacyjne (technika dowolna).</p>
    </div>
    <div class="col-md-4">
        <h2>Zad 2.</h2>
        <h3>Strona Urlopy</h3>
        <p>
            1)	Należy stworzyć stronę urlopy i dodać odpowiednią pozycję w menu.
        </p>
        <p>
            2)	Należy utworzyć Web Api zwracające informację na temat urlopów według następujących. Pozostałe wymagania w dokumęcie opisowym.
        </p>
        <p>
            3)	Na stronie należy wyświetlić responsywną tabelkę z prostym sortowaniem, wystarczy po stronie klienta (np. JQuery).
        </p>

    </div>
    <div class="col-md-4">
        <h2>Zad 3.</h2>
        <h3> Export Excela</h3>
        <p>
            1)	Należy stworzyć stronę urlopy i dodać odpowiednią pozycję w menu.
        </p>
        <p>
            2)	Należy napisać prostą funkcję która dane pobrane w zadaniu 2 wyeksportuje do arkusza kalkulacyjnego. Funkcja powinna być wywoływana za pomocą przycisku „Eksportuj”.
        </p>
    </div>
</div>
